---
// src/pages/index.astro
import Main from '../layout/Main.astro';
import Header from '../components/Header.astro';
import HeroFumigacion from '../components/HeroFumigacion.astro';
import Arrow from '../components/Arrow.astro';
import ServiciosFumigacion from '../components/ServiciosFumigacion.astro';
import FAQFumigacion from '../components/FAQFumigacion.astro';
import FormularioContacto from '../components/FormularioContacto.astro';
import Footer from '../components/Footer.astro';
---

<Main title="Inicio">
    <Header />
    <HeroFumigacion />
    <Arrow />
    <ServiciosFumigacion />
    <FAQFumigacion />
    <FormularioContacto />
    <Footer />
</Main>