---
// src/pages/index.astro
import Main from '../layout/Main.astro';
import Header from '../components/Header.astro';
import HeroPlomeria from '../components/HeroPlomeria.astro';
import ServiciosPlomeria from '../components/ServiciosPlomeria.astro';
import FAQPlomeria from '../components/FAQPlomeria.astro';
import FormularioContacto from '../components/FormularioContacto.astro';
import Footer from '../components/Footer.astro';
---

<Main title="Inicio">
    <Header />
    <HeroPlomeria />
    <ServiciosPlomeria />
    <FAQPlomeria />
    <FormularioContacto />
    <Footer />
</Main>
