---
---

<header class="bg-white w-full shadow-md">
  
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <!-- Logo -->
      <div class="text-2xl font-bold text-blue-800">
        <img src="/logo.png" alt="Barako Destapaciones" class="h-12">
      </div>
  
      <!-- Navigation for larger screens -->

      <nav class="hidden md:flex items-center space-x-14">
        <a href="/"               aria-label="Inicio" class="text-slate-800 hover:text-blue-600 transition-colors">Inicio</a>    
        <a href="/Destapaciones"  aria-label="Destapaciones" class="text-slate-800 hover:text-blue-600 transition-colors">Destapaciones</a>
        <a href="/Fumigacion"     aria-label="Fumigacion" class="text-slate-800 hover:text-blue-600 transition-colors">Fumigacion</a>
        <a href="/Plomeria"       aria-label="Plomeria" class="text-slate-800 hover:text-blue-600 transition-colors">Plomeria</a>   
        <a href="/Contacto"       aria-label="Contacto" class="text-slate-800 hover:text-blue-600 transition-colors">Contacto</a>
      </nav>

  
      <!-- Contact buttons for larger screens -->
      <div class="hidden md:flex items-center space-x-4">
        <a href="tel:+541156552782" class="text-slate-800 hover:text-blue-800 font-medium transition-colors">
         CEL: 11 5655-2782
        </a>
    <!--  <a href="https://wa.me/541156552782" class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-600 transition-colors">
          WhatsApp
        </a>  --> 
      </div>
  
      <!-- Mobile menu button -->
      <button id="menu-toggle" class="md:hidden flex flex-col justify-center items-center w-10 h-10 border border-gray-300 rounded-md">
        <span class="sr-only">Abrir menú</span>
        <span class="w-6 h-0.5 bg-slate-800 mb-1.5"></span>
        <span class="w-6 h-0.5 bg-slate-800 mb-1.5"></span>
        <span class="w-6 h-0.5 bg-slate-800"></span>
      </button>
    </div>
  
<!-- Mobile menu -->
<nav id="mobile-menu" class="hidden md:hidden">
  <div class="flex flex-col pt-2 pb-4 space-y-4 ml-8 mr-56">
    <a href="/"               aria-label="Inicio" class="text-slate-800 hover:text-blue-600 transition-colors">Inicio</a>    
    <a href="/Destapaciones"  aria-label="Destapaciones" class="text-slate-800 hover:text-blue-600 transition-colors">Destapaciones</a>
    <a href="/Fumigacion"     aria-label="Fumigacion" class="text-slate-800 hover:text-blue-600 transition-colors">Fumigacion</a>
    <a href="/Plomeria"       aria-label="Plomeria" class="text-slate-800 hover:text-blue-600 transition-colors">Plomeria</a>   
    <a href="/Contacto"       aria-label="Contacto" class="text-slate-800 hover:text-blue-600 transition-colors">Contacto</a>
  </div>
</nav>


  </header>
  
  <script>
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');
  
    if (menuToggle && mobileMenu) {
      menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });
    }
  </script>
