<section id="inicio" class="relative h-screen flex items-center justify-center text-white">
    <div class="absolute inset-0 z-0">
      <img src="/hero-bg4.jpg" alt="Camioneta de servicio" class="w-full h-full object-cover">
      <div class="absolute inset-0 bg-black opacity-75"></div>
    </div>
    
    <div class="relative text-center rounded-lg md:-mt-8">
      <!-- Black box behind text -->
      <div class="bg-black bg-opacity-25 px-6 pt-1 pb-8 rounded-lg">
        <h1 class="text-5xl font-bold mb-4">Servicio de Destapaciones 24/7</h1>
        <p class="text-2xl mb-6">Soluciones rápidas y efectivas en CABA</p>
        <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4">
          <a href="#contacto" class="bg-blue-800 text-white px-4 py-2 rounded-full text-lg hover:bg-blue-700 transition duration-300  md:w-auto">Contáctanos</a>
  
          <!-- WhatsApp Button (Visible only on mobile) -->
          <a href="https://wa.me/541156552782" class="bg-green-500 text-white px-6 py-2 rounded-full text-lg hover:bg-green-600 transition duration-300  md:hidden">
            WhatsApp
          </a>
        </div>
      </div>
    </div>
  </section>